<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wp-yatra","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-title {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}},"fontSize":"x-large"} /-->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wp-yatra","tagName":"footer","className":"site-footer"} /--></div>
<!-- /wp:group -->